/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 2.5rem;
}

.container {
  width: fit-content;
  max-width: 800px;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2a2a;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: #3a3a3a;
  color: #fff;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: bold;
  width: 100%;
  font-size: 1.2rem;
  background-color: #8ede3e;
  color: #2e4713;
  cursor: pointer;
}

/*Components*/
.task-list{
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.task-list li{
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list li i{
  cursor: pointer;
  margin-right: 0.5rem;
  background-color: #4a4a4a;
  padding: 0.5rem;
  border-radius: 50%;
}

.task-list li .delete:active{
  background-color: #ff0000;
}

.task-list li p{
  flex-grow: 1;
  text-wrap: wrap;
  padding: 0.5rem;
}

.error {
  border: 1px solid red;
  margin-top: 0.5rem;
}

.alert {
  display: none;
  position: absolute;
  top: 155px;
}

.alert p{
  font-size: 0.8rem;
  color: red;
}

.completed-message{
  display: none;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.completed {
  background-color: #4a4a !important;
}

circle-progress{
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
}

circle-progress::part(value) {
	stroke-width: 6px;
	stroke: #47a9ff;
	stroke-linecap: round;
}

circle-progress::part(circle) {
  stroke-width: 2px;
  }
